.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.tick line{
    opacity: 0.2;
 }

#container{
	width: 100%;
	height: 100%;
	margin: auto;
}

#container #container_up{
	width: 100%;
	height: 80%;
	margin: auto;
}

#container #container_bottom{
	width: 100%;
	height: 20%;
	margin: auto;
}

#container #container_up #control{
	width: 20%;
	height: 100%;
	margin: auto;
	float: left;
}

#container #container_up #control #school-type-selection-control{
	width: 100%;
	height: 180px;
}

#container #container_up #control #data-control{
	width:100%;
	height: 120px;
	margin:auto;
}
#container #container_up #control #data-control #conference-selection-control{
	width : 200px;
	height:30px;
	float:right;
}
#container #container_up #control #data-control #show-filter-missing-data-div{
	width : 170px;
	height:20px;
	float:right;
}
#container #container_up #control #data-control #show-mean-std-checkbox-div{
	width : 170px;
	height:20px;
	float:right;
}

#container #container_up #control #schoold-selection-autocomplete-div{
	width : 300px;
	height:30px;
	float:right;
}
#container #container_up #control #trajectory-control{
	width: 100%;
	height: 20%;
}
#container #container_up #control #show-selection-div{
	width:100%;
	height:40px;
}
#container #container_up #control #trajectory-control #trajectory-button-div{
	left : 50%;
	float:right;
}
#container #container_up #view{
	width: 60%;
	height: 100%;
	margin: auto;
	float: left;
}

#container #container_up #view #main-view {
	width: 100%;
	height: calc(100% - 50px);
	margin: auto;
	float: left;
}

#container #container_up #view #main-view #scatter-plot-tab{
	width: 100%;
	height: calc(100% - 50px);
}

#container #container_up #view #main-view #scatter-plot-tab #canvas{
	width: 100%;
	height: 100%;
}

#container #container_up #view #main-view #treemap-tab{
	width: 100%;
	height: calc(100% - 50px);
}

#container #container_up #view #main-view #treemap-tab #treemap-convas{
	width: 100%;
	height: 100%;
}

#container #container_up #legend{
	width: 20%;
	height: 60%;
	margin: auto;
	float: left;
}

#container #container_up #legend #dot-legend-container{
	width : 100%;
	height : 60%;
}

#container #container_up #legend #multiple-school-tags{
	width : 100%;
	height : 40%;
}

#container #container_up #box_plot{
	width: 20%;
	height: 40%;
	margin: auto;
	float: left;
}

#container #container_bottom #slider-title{
	width: 50%;
	height: 30;
	margin:auto;
	position: relative;
}
#container #container_bottom #slider{
	width: 50%;
	/*height: 100%;*/
	margin: auto;
}

#container #container_bottom #slider-ticks{
	width: 60%;
	height:40px;
	position: relative;
	margin: auto;
}

/*
*	Utilities
*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Fix Awesome Checkbox */
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

input[type="checkbox"].styled:checked label:after,
input[type="radio"].styled:checked label:after,
.checkbox label:after {
    padding-left: 3px;
    padding-top: 2px;
    font-size: 9px;
}

.token-input {
	display: none;
}

.tokenfield .token .token-label
{
	max-width: 250px !important;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  	font: 10px sans-serif;
}

.box-public line,
.box-public rect,
.box-public circle {
	fill: #fff;
	stroke: #4daf4a;
	stroke-width: 1.5px;
}

.box-private-not-for-profit line,
.box-private-not-for-profit rect,
.box-private-not-for-profit circle {
	fill: #fff;
	stroke: #984ea3;
	stroke-width: 1.5px;
}

.box-private-for-profit line,
.box-private-for-profit rect,
.box-private-for-profit circle {
	fill: #fff;
	stroke: #ff7f00;
	stroke-width: 1.5px;
}

.box .center {
  	stroke-dasharray: 3,3;
}

.box .outlier {
	display: none;
	fill: none;
	stroke: #ccc;
}

