#container{
	width: 100%;
	height: 100%;
	margin: auto;
}

#container #container_up{
	width: 100%;
	height: 80%;
	margin: auto;
}

#container #container_bottom{
	width: 100%;
	height: 20%;
	margin: auto;
}

#container #container_up #control{
	width: 20%;
	height: 100%;
	margin: auto;
	float: left;
}

#container #container_up #canvas{
	width: 60%;
	height: 100%;
	margin: auto;
	float: left;
}

#container #container_up #leggend{
	width: 20%;
	height: 100%;
	margin: auto;
	float: left;
}

#container #container_bottom #slider{
	width: 60%;
	/*height: 100%;*/
	margin: auto;
}

#container #container_bottom #slider-ticks{
	width: 70%;
	height:40px;
	position: relative;
	margin: auto;
}

/*
*	Utilities
*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}